//Background image
.aboutme {
    background-color: $dark-background-color;
    position: relative;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
//End Background Image

// Caption Text Overlay
.aboutme-caption {
    font-family: $title-font;
    position: relative;
    top: 30vh;
}

.aboutme-caption h1 {
    color: $accent-color;
    letter-spacing: 1.5px;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}

.aboutme-caption p {
    font-size: 18px;
    color: #ffffff;
    text-shadow: 3px 3px 4px #000000;
}
// End Caption Text Overlay

// Default Values
.aboutme {
    height: 100vh;
}