//Background image
.banner {
    background-color: $accent-color;
    position: relative;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
//End Background Image

// Caption Text Overlay
.banner-caption {
    font-family: $title-font;
    position: absolute;
    top: 30vh;
    text-transform: uppercase;
}

.banner-caption h1 {
    color: $accent-color;
    letter-spacing: 1.5px;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}

.banner-caption p {
    font-size: 18px;
    color: #ffffff;
}
// End Caption Text Overlay

// Default Values
.banner {
    height: 100vh;
}