//Background image
.errorpage {
    background-color: $dark-background-color;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media (min-width: 1025px) {
    .errorpage {
        background-attachment: fixed;
    }
}

.errorpage::before {
    content: "";
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
//End Background Image

// Caption Text Overlay
.errorpage-caption {
    font-family: $title-font;
    position: relative;
    top: 30vh;
}

.errorpage-caption h1 {
    color: $light-accent-color;
    letter-spacing: 1.5px;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    margin-top: 0px;
    text-shadow: 3px 3px 4px #000000;
    text-transform: uppercase;
}

.errorpage-caption p {
    font-size: 18px;
    color: #ffffff;
    text-shadow: 3px 3px 4px #000000;
}
// End Caption Text Overlay
