/*-------------------------------------------------------------------------------------------*/
/* NAVBAR     ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Navbar Style   ||-------------------*/
#navbar {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar {
    // position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    color: #fff;
    height: 120px;
}

/* Logo Style   ||-------------------*/
.logo {
    text-decoration: none;
}

.logo a {
    width: 200px;
    display: block;
    height: 50px;
    font-family: $logo-font;
    letter-spacing: 1px;
    font-size : 36px;
    border: 3px solid #fff;
    text-align : center;
    color: #fff;
    box-sizing: content-box;
}

.logo a:hover,
.logo a:active,
.logo a:focus {
    text-decoration: none;
}

/* Navigation Menu Style  ||-------------------*/
.nav-menu {
    display: flex;
}

.nav-menu.active {
    display: block;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 1;
    padding: 43px 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: $accent-font;
}

.nav-menu-icon {
    display: none;
}

.nav-menu-icon a {
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 19px 0;
}

.nav-menu-icon.active a, .nav-menu-icon a.active,
.nav-menu-icon:hover a, .nav-menu-icon a:hover,
.nav-menu li.active a,
.nav-menu li a.active,
.nav-menu li:hover a,
.nav-menu li a:hover,
.header-fixed .nav-menu li a.current,
.header-fixed .nav-menu li.current a {
    color: $light-accent-color;
    text-decoration: none;
}

@media all and (max-width: 1024px) {
    .navbar {
        height: 65px;
    }
    .nav-menu  li {
        display: block;
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #333;
        display: none;
        z-index: 9999999;
    }

    .nav-menu-icon, .header-fixed .nav-menu-icon {
        display: block;
    }

    .nav-menu li a, .header-fixed .nav-menu li a {
        padding: 20px 12px;
        border-top: 1px solid #444;
    }
}