//Background image
.portfolio {
  background-color: $dark-background-color;
  position: relative;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
//End Background Image

.item-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100vh;
  padding-top: 120px;

  .item {
    flex-shrink: 0;
    width: 100vw;
    display: flex;

    .item-image {
      width: 50vw;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .item-description {
      width: 50vw;
    }
  }
}