//Background image
.portfolio {
  background-color: $dark-background-color;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1025px) {
    .portfolio {
        background-attachment: fixed;
    }
}

.portfolio::before {
    content: "";
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
//End Background Image

.portfolio {
  button {
    display: none;
  }
  
  @media (min-width: 1025px) {
    .button-anchor {
      position: relative;
    }
  
    .arrow {
      display: block;
      position: absolute;
      top: 50%;
    }
      
    .left-arrow {
      left: -15px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  
    .right-arrow {
      right: -35px;
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
    }
  }

  .arrow:before {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .arrow {
    display: none;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
  }
  
  .arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }

  .arrow:hover, .arrow:active {
    border-color: $light-accent-color;
  }

  @keyframes arrow {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
  }

  .dot-wrapper {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: none;
  }

  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }

  @media (min-width: 1025px) {
    .dot-wrapper {
      display: block;
    }
    .arrow {
      display: block;
    }
  }
}

.item-list::-webkit-scrollbar { width: 0 !important }

.item-list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 120px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  .item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .item-image {
      width: 100%;

      img {
        position: relative;
        width: 100%;
      }
    }

    .item-description {
      width: 100%;
      display: inline-block;
      padding-bottom: 50px;

      .description-wrapper {
        position: relative;
        width: 100%;
      }

      h1 {
        text-align: center;
        color: white;
        letter-spacing: 1.5px;
        font-size: 40px;
        line-height: 44px;
        font-weight: bold;
        text-shadow: 3px 3px 4px #000000;
      }

      p {
        color: white;
        letter-spacing: 1.5px;
        text-shadow: 3px 3px 4px #000000;
        font-family: "Raleway", sans-serif;

        a {
          color: $light-accent-color;
        }
      }
    }
  }

  @media (min-width: 1025px) {
    flex-direction: row;
    height: 100vh;

    .item {
      flex-direction: row;

      .item-image {
        width: 50%;
        img {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .item-description {
        width: 50%;
        padding-bottom: 0px;

        .description-wrapper {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}